<footer class="border-top border-primary border-3">
  <div class="container py-7 py-md-8">
    <h5 class="noto-sans-tc fs-9 fs-md-8 text-center">
      © 7TAO七逃. All Rights Reserved
    </h5>
  </div>
</footer>
