<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body py-3">
      <h1>
        <a class="logo fs-5 d-flex align-items-center" href="index.html"
          ><img src="/assets/images/logo.png" alt="logo" />
          <p class="ms-0 ms-md-5 d-none d-md-flex align-items-center">
            7TAO
            <span class="noto-serif-tc fs-7 ms-1 d-none d-xl-block"
              >活動訂票網</span
            >
          </p></a
        >
      </h1>
      <form class="d-flex input-group w-50 w-lg-25 ms-lg-11 mb-lg-0">
        <input
          type="text"
          class="form-control py-2 ps-3 py-lg-5 ps-lg-7 noto-sans-tc border border-primary border-2"
          placeholder="探索活動"
          aria-label="探索活動"
          aria-describedby="button-search"
        />
        <button
          class="btn btn-dark text-theme-2 p-lg-5"
          type="button"
          id="button-search"
        >
          <i class="icofont-search-1 fs-7 fs-lg-6"></i>
        </button>
      </form>
      <button
        class="navbar-toggler border-1 border-primary rounded"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav ms-lg-auto mb-lg-0 fs-6 pt-lg-0 pt-7 pb-1 pb-lg-0 mt-3"
        >
          <li class="nav-item">
            <a class="nav-link px-lg-3" aria-current="page" href="#">
              <i class="icofont-ui-file"></i>
              REGISTER
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3" href="#">
              <i class="icofont-ui-user"></i>
              LOGIN
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
