<div
  class="border border-3 border-primary py-5 py-md-7 px-3 px-md-8 d-flex align-items-center justify-content-between mb-7 mb-md-8 text-uppercase"
>
  <h2 class="fs-5 fs-md-1"><%= titleEng %></h2>
  <h2 class="fs-md-4 fw-bold noto-serif-tc"><%= titleTW %></h2>
</div>
