<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide noto-serif-tc fs-lg-4 fw-bold py-5 py-lg-7">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide noto-serif-tc fs-lg-4 fw-bold py-5 py-lg-7">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide noto-serif-tc fs-lg-4 fw-bold py-5 py-lg-7">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide noto-serif-tc fs-lg-4 fw-bold py-5 py-lg-7">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
  </div>
</div>
