.banner {
  background: url(../images/event/13.jpg) no-repeat;
  height: 351px;
  background-size: cover;
  background-position: center;
  &-title {
    width: 42%;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
  &-text {
    width: 70%;
  }
  @include media-breakpoint-up(md) {
    height: 518px;
  }
}
