.hover-underline {
  @include hover-underline;
}

.hover-circle {
  &::before {
    content: "";
    display: none;
    position: absolute;
    top: -3.5px;
    left: -10px;
    bottom: -2.5px;
    width: 29px;
    background-color: #fbff22;
    border-radius: 50%;
    z-index: -1;
  }
  &:hover::before {
    display: block;
  }
}

.hover-theme {
  @include hover-theme;
}

.hover-shadow {
  @include hover-shadow;
}
