.event {
  &-img {
    img {
      height: 255px;
    }
  }
}

.album {
  li {
    &:nth-child(2n) {
      transform: rotate(2deg);
    }
    &:nth-child(3) {
      transform: rotate(-2deg);
    }
  }
  &-item {
    img {
      height: 274px;
      object-fit: cover;
    }
  }
}
